<%- include('../../partials/head.ejs')%> <%- include('../../partials/navbar.ejs')%>

    <div class="container">
      <hr />
      <h2>Categorias</h2>
      <button class="btn btn-success" onclick="location.href='/admin/categories/new'">
        Criar nova categoria
      </button>
      <hr />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category=> { %>
            <tr>
              <td>
                <%= category.id %>
              </td>
              <td>
                <%= category.title %>
              </td>
              <td>
                <%= category.slug %>
              </td>
              <th class="text-center">
                <button class="btn btn-warning" onclick="location.href='/admin/categories/<%= category.id %>'">
                  Editar
                </button>
                <form action="/categories/delete" method="post" style="display: inline" onsubmit="confirmDelete(event)">
                  <input type="hidden" name="id" value="<%= category.id %>">
                  <button class="btn btn-danger">
                    Excluir
                  </button>
                </form>
              </th>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>

    <%- include('../../partials/footer.ejs') %>

      <script>
        function confirmDelete(event) {
          event.preventDefault();

          const decision = confirm("Tem certeza que deseja excluir esta categoria?");
          decision ? event.target.submit() : event.preventDefault();
        }
      </script>